{% extends 'admin_base.html' %}

{% block content %}

<style>
    .loading-spinner {
        display: none;
        justify-content: center;
        align-items: center;
        height: 100px;
    }

    .loading-spinner div {
        border: 4px solid #f3f3f3;
        border-top: 4px solid #4CAF50;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: spin 1s linear infinite;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    .chart-canvas {
        height: 500px !important;
        width: 90% !important;
    }

    .scroll-div {
        height: 200px;
        overflow-y: scroll;
    }
</style>

<h3 class="mb-3">Dashboard Overview</h3>

<div class="d-flex justify-content-between align-items-center mb-4">
    <span class="w-auto"></span>
    <span class="ms-auto"></span>
    <select id="yearSelectRegion1" class="form-control w-auto" name="year_dashboard"
        hx-get="{% url 'home:populate_dashboard'%}" hx-target="#regionChart" hx-include="[name='year_dashboard']"
        hx-trigger="change from:#yearSelectRegion1 changed delay:100ms">
        <option value="" selected>Select Year</option>
        {% for year in years %}
        <option value="{{ year.year }}">{{ year.year }}</option>
        {% endfor %}
    </select>
    {% comment %} <select id="year-select" name="year_bar" class="form-select w-auto"
        hx-get="{% url 'home:get_status_counts' %}" hx-target="#chart-data" hx-trigger="change"
        hx-include="[name='year_bar']">
        <option value="">All years</option>
    </select> {% endcomment %}
</div>

<div class="row mb-2">
    <!-- Summary Cards -->
    <div class="col-md-2">
        <div class="card text-white text-center card-bg mb-3">
            <div class="card-header">TOTAL SURVEY</div>
            <div class="card-body">
                <div class="card-text">
                    <h3>{{ total_surveys }}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="card text-white text-center card-bg mb-3">
            <div class="card-header">AVERAGE RATING</div>
            <div class="card-body">
                <div class="card-text">
                    <h3>{{ average_rating|floatformat:2 }}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="card text-white text-center card-bg mb-3">
            <div class="card-header">USERS</div>
            <div class="card-body">
                <div class="card-text">
                    <h3>{{ users }}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="card text-white text-center card-bg mb-3">
            <div class="card-header">SERVICES</div>
            <div class="card-body">
                <div class="card-text">
                    <h3>{{ services }}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="card text-white text-center card-bg mb-3">
            <div class="card-header">UNITS</div>
            <div class="card-body">
                <div class="card-text">
                    <h3>{{ units }}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="card text-white text-center card-bg mb-3">
            <div class="card-header">DEPARTMENTS</div>
            <div class="card-body">
                <div class="card-text">
                    <h3>{{ departments }}</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mb-2">

</div>

<div class="row mb-2">
    <div class="col-md-6">
        <div class="card mb-2">
            <div class="card-header card-bg text-white">
                <div class="d-flex justify-content-between align-items-center">
                    <button type="button" class="btn btn-warning" hx-get="{% url 'home:region_monhtly_modal'%}"
                        hx-target="#modal-body" data-toggle="modal" data-target="#modalForm"><i
                            class="fas fa-project-diagram"></i>
                    </button>
                    <span>SURVEY DISTRIBUTION BY REGION</span>
                    <span class="ms-auto"></span>
                    <select id="yearSelectRegion" class="form-control w-auto" name="year_region"
                        hx-get="{% url 'home:populate_region'%}" hx-target="#regionChart"
                        hx-include="[name='year_region']"
                        hx-trigger="change from:#yearSelectRegion changed delay:100ms">
                        <option value="" selected>Select Year</option>
                        {% for year in years %}
                        <option value="{{ year.year }}">{{ year.year }}</option>
                        {% endfor %}
                    </select>
                    {% comment %} <select id="year-select" name="year_bar" class="form-select w-auto"
                        hx-get="{% url 'home:get_status_counts' %}" hx-target="#chart-data" hx-trigger="change"
                        hx-include="[name='year_bar']">
                        <option value="">All years</option>
                    </select> {% endcomment %}
                </div>
            </div>
            <div class="card-body" id="regionBarChart">
                <div class="loading-spinner" id="loadingSpinnerRegion">
                    <div></div>
                </div>
                <canvas id="regionChart"></canvas>
                {% comment %} <div id="chart-data" hx-swap="outerHTML:swap"></div> {% endcomment %}
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card mb-2">
            <div class="card-header card-bg text-white">
                <div class="d-flex justify-content-between align-items-center">
                    <button type="button" class="btn btn-warning" hx-get="{% url 'home:cc_monhtly_modal' %}"
                        hx-target="#modal-body" data-toggle="modal" data-target="#modalForm"><i
                            class="fas fa-project-diagram"></i>
                    </button>
                    <span>CITIZEN CHARTER DISTRIBUTION</span>
                    <span class="ms-auto"></span>
                    {% comment %} <a href="{% url 'home:generate_status_chart_pdf' %}"
                        class="btn btn-sm btn-warning w-auto">Report (Pdf)</a> {% endcomment %}
                    <select id="yearSelect1" class="form-control w-auto" name="year_citizen"
                        hx-get="{% url 'home:cc_combine_chart_view'%}" hx-target="#citizenContainer"
                        hx-include="[name='year_citizen']" hx-trigger="change from:#yearSelect1 changed delay:100ms">
                        <option value="" selected>Select Year</option>
                        {% for year in years %}
                        <option value="{{ year.year }}">{{ year.year }}</option>
                        {% endfor %}
                    </select>
                    {% comment %} <select id="year-select" name="year_bar" class="form-select w-auto"
                        hx-get="{% url 'home:get_status_counts' %}" hx-target="#chart-data" hx-trigger="change"
                        hx-include="[name='year_bar']">
                        <option value="">All years</option>
                    </select> {% endcomment %}
                </div>
            </div>
            <div class="card-body" id="citizenBarChart">
                <div class="loading-spinner" id="loadingSpinnerCitizen">
                    <div></div>
                </div>
                <canvas id="citizenContainer"></canvas>
                {% comment %} <div id="chart-data" hx-swap="outerHTML:swap"></div> {% endcomment %}
            </div>
        </div>
    </div>
</div>

<div class="row mb-2">
    <!-- CC1 Distribution Chart -->
    <div class="col-md-12">
        <div class="card mb-2">
            <div class="card-header card-bg text-white">
                <div class="d-flex justify-content-between align-items-center">
                    <span><button class="btn btn-warning" hx-get="{% url 'home:transaction_chart_unit_dept_modal' %}"
                            hx-target="#modal-body" data-toggle="modal" data-target="#modalForm">
                            <i class="fas fa-project-diagram"></i></button></span>
                    <span>TRANSACTION DISTRIBUTION</span>
                    <span class="ms-auto"></span>
                    {% comment %} <a href="{% url 'home:generate_status_chart_pdf' %}"
                        class="btn btn-sm btn-warning w-auto">Report (Pdf)</a> {% endcomment %}
                    <select id="yearSelectTransaction" class="form-control w-auto" name="year_transaction"
                        hx-get="{% url 'home:populate_dashboard'%}" hx-target="#transactionChart"
                        hx-include="[name='year_transaction']"
                        hx-trigger="change from:#yearSelectTransaction changed delay:100ms">
                        <option value="" selected>Select Year</option>
                        {% for year in years %}
                        <option value="{{ year.year }}">{{ year.year }}</option>
                        {% endfor %}
                    </select>
                    {% comment %} <select id="year-select" name="year_bar" class="form-select w-auto"
                        hx-get="{% url 'home:get_status_counts' %}" hx-target="#chart-data" hx-trigger="change"
                        hx-include="[name='year_bar']">
                        <option value="">All years</option>
                    </select> {% endcomment %}
                </div>
            </div>
            <div class="card-body" id="transactionBarChart">
                <div class="loading-spinner" id="loadingSpinner">
                    <div></div>
                </div>
                <canvas id="transactionChart"></canvas>
                {% comment %} <div id="chart-data" hx-swap="outerHTML:swap"></div> {% endcomment %}
            </div>
        </div>
    </div>
</div>

<div class="row mb-2">
    <!-- Transaction Types Chart -->
    <div class="col-md-8">
        <div class="card mb-2">
            <div class="card-header card-bg text-white">
                <div class="d-flex justify-content-between align-items-center">
                    <span>SURVEY DISTRIBUTION OVER TIME</span>
                    <span class="ms-auto"></span>
                    <select id="yearSelectSurvey" class="form-control w-auto" name="year_survey"
                        hx-get="{% url 'home:survey_chart_monthly_view'%}" hx-target="#surveyChart"
                        hx-include="[name='year_survey']"
                        hx-trigger="change from:#yearSelectSurvey changed delay:100ms">
                        <option value="" selected>Select Year</option>
                        {% for year in years %}
                        <option value="{{ year.year }}">{{ year.year }}</option>
                        {% endfor %}
                    </select>
                    {% comment %} <select id="year-select" name="year_bar" class="form-select w-auto"
                        hx-get="{% url 'home:get_status_counts' %}" hx-target="#chart-data" hx-trigger="change"
                        hx-include="[name='year_bar']">
                        <option value="">All years</option>
                    </select> {% endcomment %}
                </div>
            </div>
            <div class="card-body" id="citizenCharterBarChart">
                <div class="loading-spinner" id="loadingSpinnerSurvey">
                    <div></div>
                </div>
                <div id="chartSection" style="height: 500px;">
                    <canvas id="surveyChart"></canvas>

                </div>
                {% comment %} <div id="chart-data" hx-swap="outerHTML:swap"></div> {% endcomment %}
            </div>
        </div>
    </div>


    <!-- Sex Distribution Chart -->
    <div class="col-md-4">
        <div class="card mb-2">
            <div class="card-header card-bg text-white">
                <div class="d-flex justify-content-between align-items-center">
                    <span>GENDER DISTRIBUTION</span>
                    <span class="ms-auto"></span>
                    <select id="yearSelectSex" class="form-control w-auto" name="year_sex"
                        hx-get="{% url 'home:populate_gender' %}" hx-target="#sexPieChart"
                        hx-include="[name='year_sex']" hx-trigger="change from:#yearSelectSex changed delay:100ms">
                        <option value="" selected>Select Year</option>
                        {% for year in years %}
                        <option value="{{ year.year }}">{{ year.year }}</option>
                        {% endfor %}
                    </select>
                    {% comment %} <select id="year-select" name="year_bar" class="form-select w-auto"
                        hx-get="{% url 'home:get_status_counts' %}" hx-target="#chart-data" hx-trigger="change"
                        hx-include="[name='year_bar']">
                        <option value="">All years</option>
                    </select> {% endcomment %}
                </div>
            </div>
            <div class="card-body" id="genderChart">
                <div class="loading-spinner" id="loadingSpinnerSex">
                    <div></div>
                </div>
                <canvas id="sexPieChart"></canvas>
                {% comment %} <div id="chart-data" hx-swap="outerHTML:swap"></div> {% endcomment %}
            </div>
        </div>
    </div>
</div>

<div class="row mb-2">
    <div class="col-md-12">
        <div class="card mb-2">
            <div class="card-header card-bg text-white">
                <div class="d-flex justify-content-between align-items-center">
                    <span><button class="btn btn-warning" hx-get="{% url 'home:sqd_chart_modal' %}"
                            hx-target="#modal-body" data-toggle="modal" data-target="#modalForm"><i
                                class="fas fa-project-diagram"></i></button></span>
                    <span>SERVICE QUALITY DIMENTIONS (SQD) DISTRIBUTION</span>
                    <span class="ms-auto"></span>
                    <select id="yearSelectSGD" class="form-control w-auto" name="year_sgd"
                        hx-get="{% url 'home:sqd_chart_view'%}" hx-target="#SQDChart" hx-include="[name='year_sgd']"
                        hx-trigger="change from:#yearSelectSGD changed delay:100ms">
                        <option value="" selected>Select Year</option>
                        {% for year in years %}
                        <option value="{{ year.year }}">{{ year.year }}</option>
                        {% endfor %}
                    </select>
                    {% comment %} <select id="year-select" name="year_bar" class="form-select w-auto"
                        hx-get="{% url 'home:get_status_counts' %}" hx-target="#chart-data" hx-trigger="change"
                        hx-include="[name='year_bar']">
                        <option value="">All years</option>
                    </select> {% endcomment %}
                </div>
            </div>
            <div class="card-body" id="sgdBarChart">
                <div class="loading-spinner" id="loadingSpinnerSQD">
                    <div></div>
                </div>
                <div id="sqdChartContainer">
                    <canvas id="SQDChart"></canvas>
                </div>
                {% comment %} <div id="chart-data" hx-swap="outerHTML:swap"></div> {% endcomment %}
            </div>
        </div>
    </div>
</div>

<!-- Recent Feedback Table -->
<div class="card mb-4">
    <div class="card-header card-bg text-white">Recent Feedback</div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>User</th>
                    <th>Rating</th>
                    <th>Comment</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2024-10-25</td>
                    <td>John Doe</td>
                    <td>⭐⭐⭐⭐⭐</td>
                    <td>Great service!</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<!-- Large modal -->
<div class="modal fade bd-example-modal-lg" id="modalForm" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Charts</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal-body">
                <!-- HTMX injects form here -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
    </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<script>
    // var ctx = document.getElementById('surveyChart').getContext('2d');
    // var surveyChart = new Chart(ctx, {
    //     type: 'line',
    //     data: {
    //         labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May'],
    //         datasets: [{
    //             label: 'Responses',
    //             data: [10, 50, 30, 70, 90],
    //             borderColor: '#28a745',
    //             fill: false
    //         }]
    //     }
    // });

    // Initialize the chart with empty data
    let regionChart;
    function renderRegionChart(labels = [], data = []) {
        const ctx = document.getElementById('regionChart').getContext('2d');

        if (regionChart) {
            regionChart.destroy(); // Destroy existing chart instance if it exists
        }

        // Show loading spinner
        document.getElementById('loadingSpinnerRegion').style.display = 'flex';
        document.getElementById('regionChart').style.display = 'none';

        setTimeout(() => {

            // Hide loading spinner and show chart
            document.getElementById('loadingSpinnerRegion').style.display = 'none';
            document.getElementById('regionChart').style.display = 'block';

            regionChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Survey by Region',
                        data: data,
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    scales: {
                        y: {
                            beginAtZero: true,
                            title: { display: true, text: 'Survey Count' }
                        },
                        x: {
                            title: { display: true, text: 'Region' }
                        }
                    }
                }
            });
        }, 1000);
    }

    /*
    // Data for the regional distribution chart
    const ctx01 = document.getElementById('regionChart').getContext('2d');
    const regionData = {
        labels: [{% for item in survey_by_region %}'{{ item.region }}',{% endfor %}],
        datasets: [{
            label: 'Surveys by Region',
            data: [{% for item in survey_by_region %}{{ item.total }},{% endfor %}],
            backgroundColor: ['#007bff', '#28a745', '#dc3545', '#ffc107', '#17a2b8'],
        }]
    };
    const regionChart = new Chart(ctx01, {
        type: 'bar',
        data: regionData,
        options: {
            responsive: true,
            scales: { y: { beginAtZero: true } }
        }
    });
    */

    // Data for transaction types chart
    let transctionChart;
    function renderTransactionChart(data) {
        myData = JSON.parse(data);
        const labels = Object.keys(myData.transaction_counts);
        const counts = Object.values(myData.transaction_counts);

        const transactionCtx = document.getElementById('transactionChart').getContext('2d');

        // if (transactionChart) {
        //    transactionChart.destroy(); // Destroy existing chart instance if it exists
        // }

        // Show loading spinner
        document.getElementById('loadingSpinner').style.display = 'flex';
        document.getElementById('transactionChart').style.display = 'none';

        // Simulate data processing delay
        setTimeout(() => {
            // Hide loading spinner and show chart
            document.getElementById('loadingSpinner').style.display = 'none';
            document.getElementById('transactionChart').style.display = 'block';

            // Chart configuration
            const transactionData = {
                labels: labels,
                datasets: [{
                    label: 'Transaction Types',
                    data: counts,
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            };

            // Create chart instance
            transactionChart = new Chart(transactionCtx, {
                type: 'bar',
                data: transactionData,
                options: {
                    responsive: true,
                    scales: {
                        y: {
                            beginAtZero: true,
                            title: { display: true, text: 'Number of Transactions' }
                        },
                        x: {
                            title: { display: true, text: 'Transaction Type' }
                        }
                    }
                }
            });
        }, 1000); // Simulate 1-second loading delay
    }

    /*
    // Gender data from the view context
    const maleCount = {{ male_count }};
    const femaleCount = {{ female_count }};
    
    const ctx2 = document.getElementById('genderPieChart').getContext('2d');
    const genderPieChart = new Chart(ctx2, {
        type: 'pie',
        data: {
            labels: ['Male', 'Female'],
            datasets: [{
                data: [maleCount, femaleCount],
                backgroundColor: ['#36A2EB', '#FF6384'],  // Customize colors as needed
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                tooltip: {
                    callbacks: {
                        label: function(context) {
                            const total = maleCount + femaleCount;
                            const percentage = ((context.raw / total) * 100).toFixed(2);
                            return `${context.label}: ${percentage}% (${context.raw})`;
                        }
                    }
                }
            }
        }
    });
    */

    // Initialize chart variable outside to update dynamically
    // let citizenChart = null;

    // Function to render or update the Chart.js chart
    function renderCitizenCharterChart(data) {
        //alert(data);
        const ctx3 = document.getElementById('citizenContainer').getContext('2d');

        // Show loading spinner
        document.getElementById('loadingSpinnerCitizen').style.display = 'flex';
        document.getElementById('citizenContainer').style.display = 'none';

        // Simulate data processing delay
        setTimeout(() => {
            // Hide loading spinner and show chart
            document.getElementById('loadingSpinnerCitizen').style.display = 'none';
            document.getElementById('citizenContainer').style.display = 'block';

            myData = JSON.parse(data);
            const labels = myData.response_labels || [];
            const cc1Data = myData.cc1_data || [];
            const cc2Data = myData.cc2_data || [];
            const cc3Data = myData.cc3_data || [];

            // Destroy previous chart instance if it exists
            //if (citizenChart) {
            //    citizenChart.destroy();
            //}


            citizenChart = new Chart(ctx3, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [
                        {
                            label: 'CC1',
                            data: cc2Data,
                            backgroundColor: 'rgba(54, 162, 235, 0.7)',
                            borderColor: 'rgba(54, 162, 235, 1)',
                            borderWidth: 1
                        },
                        {
                            label: 'CC2',
                            data: cc1Data,
                            backgroundColor: 'rgba(255, 206, 86, 0.7)',
                            borderColor: 'rgba(255, 206, 86, 1)',
                            borderWidth: 1
                        },
                        {
                            label: 'CC3',
                            data: cc2Data,
                            backgroundColor: 'rgba(75, 192, 192, 0.7)',
                            borderColor: 'rgba(75, 192, 192, 1)',
                            borderWidth: 1
                        }
                    ]
                },
                options: {
                    responsive: true,
                    scales: {
                        x: { title: { display: true, text: 'Choices' } },
                        y: { beginAtZero: true, title: { display: true, text: 'Count' } }
                    }
                }
            });
        }, 1000);
    }


    function renderSDGChart(data) {
        const ctxSGD = document.getElementById('sqdChart').getContext('2d');
        new Chart(ctxSGD, {
            type: 'bar',
            data: {
                labels: data.labels,
                datasets: [{
                    label: 'Service Quality Dimensions (SQD) Responses',
                    data: data.data,
                    backgroundColor: 'rgba(75, 192, 192, 0.5)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true,
                        title: {
                            display: true,
                            text: 'Number of Responses'
                        }
                    },
                    x: {
                        title: {
                            display: true,
                            text: 'Satisfaction Levels'
                        }
                    }
                }
            }
        });
    }

    // Initialize empty chart variables
    let cc1Chart, cc2Chart, cc3Chart;

    function renderCitizenChart(chartId, labels, data, title) {

        const ctx4 = document.getElementById('cc1ChartContainer').getContext('2d');

        // Show loading spinner
        // document.getElementById('loadingSpinnerCitizen').style.display = 'flex';
        // document.getElementById('citizenContainer').style.display = 'none';

        // Simulate data processing delay
        setTimeout(() => {
            // Hide loading spinner and show chart
            // document.getElementById('loadingSpinnerCitizen').style.display = 'none';
            // document.getElementById('citizenContainer').style.display = 'block';

            // myData = JSON.parse(data);
            // const labels = myData.labels || [];
            // const cc1Data = myData.cc1_counts || [];
            // const cc2Data = myData.cc2_counts || [];
            // const cc3Data = myData.cc3_counts || [];

            //if (citizenChart) {
            //    citizenChart.destroy();
            //}


            chartChart = new Chart(ctx4, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [{
                        label: title,
                        data: data,
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    scales: {
                        y: {
                            beginAtZero: true,
                            title: { display: true, text: 'Count' }
                        },
                        x: {
                            title: { display: true, text: title }
                        }
                    }
                }
            });
        }, 1000);
    }

    function renderSexChart(data) {
        const ctxSexChart = document.getElementById("sexPieChart").getContext('2d');

        // Show loading spinner
        document.getElementById('loadingSpinnerSex').style.display = 'flex';
        document.getElementById('sexPieChart').style.display = 'none';

        // Simulate data processing delay
        setTimeout(() => {
            // Hide loading spinner and show chart
            document.getElementById('loadingSpinnerSex').style.display = 'none';
            document.getElementById('sexPieChart').style.display = 'block';

            dtx = JSON.parse(data);

            // Create chart instance
            const sexPieChart = new Chart(ctxSexChart, {
                type: 'pie',
                data: {
                    labels: dtx.labels,
                    datasets: [{
                        label: 'User Count',
                        data: dtx.counts,
                        backgroundColor: ['rgba(54, 162, 235, 0.2)', 'rgba(255, 99, 132, 0.2)'],
                        borderColor: ['rgba(54, 162, 235, 1)', 'rgba(255, 99, 132, 1)'],
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    // plugins: {
                    //     legend: {
                    //         position: 'top',
                    //     },
                    //     title: {
                    //         display: true,
                    //         text: 'Distribution of Users by Sex'
                    //     }
                    // }
                }
            });
        }, 1000); // Simulate 1-second loading delay
    }

    // SQD Chart
    function renderSQDChart1(data) {
        const ctxSQDChart = document.getElementById("SQDChart").getContext('2d');

        // Show loading spinner
        document.getElementById('loadingSpinnerSQD').style.display = 'flex';
        document.getElementById('SQDChart').style.display = 'none';

        // Simulate data processing delay
        setTimeout(() => {
            console.log("this is inside");
            // Hide loading spinner and show chart
            document.getElementById('loadingSpinnerSQD').style.display = 'none';
            document.getElementById('SQDChart').style.display = 'block';

            dtx = JSON.parse(data);

            // Create chart instance
            const SQDChart = new Chart(ctxSQDChart, {
                type: 'bar',
                data: {
                    labels: dtx.labels,
                    datasets: dtx.datasets,
                },
                options: {
                    responsive: true,
                    scales: {
                        y: {
                            beginAtZero: true,
                            ticks: {
                                precision: 0
                            }
                        }
                    }
                    // plugins: {
                    //     legend: {
                    //         position: 'top',
                    //     },
                    //     title: {
                    //         display: true,
                    //         text: 'Distribution of Users by Sex'
                    //     }
                    // }
                }
            });
        }, 1000); // Simulate 1-seco
    }

    // Survey Instances
    function renderSurveyChart(data) {
        const ctxSurveyChart = document.getElementById("surveyChart").getContext('2d');

        // Show loading spinner
        document.getElementById('loadingSpinnerSurvey').style.display = 'flex';
        document.getElementById('surveyChart').style.display = 'none';

        // Simulate data processing delay
        setTimeout(() => {
            // Hide loading spinner and show chart
            document.getElementById('loadingSpinnerSurvey').style.display = 'none';
            document.getElementById('surveyChart').style.display = 'block';

            dtx = JSON.parse(data);

            // Create chart instance
            const datasets = [
                {
                    label: 'Total Surveys',
                    data: dtx.data,
                    backgroundColor: 'rgba(54, 162, 235, 0.5)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1
                },
                ...dtx.unit_datasets.map(unit => ({
                    label: unit.label,
                    data: unit.data,
                    borderWidth: 1,
                    backgroundColor: `rgba(${Math.floor(Math.random() * 255)}, ${Math.floor(Math.random() * 255)}, ${Math.floor(Math.random() * 255)}, 0.5)`
                }))
            ];

            surveyChartInstance = new Chart(ctxSurveyChart, {
                type: 'line',
                data: {
                    labels: dtx.labels,
                    datasets: datasets
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    animations: {
                        tension: {
                            duration: 1000,
                            easing: 'linear',
                            from: 1,
                            to: 0,
                            loop: true
                        }
                    },
                    elements: {
                        point: {
                            radius: 6,
                            hitRadius: 20,
                            hoverRadius: 10,
                        }
                    },
                    plugins: {
                        // title: {
                        //     display: true,
                        //     text: 'Survey Counts per Month'
                        // },
                        tooltip: {
                            mode: 'index',
                            intersect: false
                        },
                        legend: {
                            position: 'top'
                        }
                    },
                    scales: {
                        y: {
                            beginAtZero: true,
                            title: {
                                display: true,
                                text: 'Survey Count'
                            }
                        },
                        x: {
                            title: {
                                display: true,
                                text: 'Month'
                            }
                        }
                    }
                }
            });
        }, 1000); // Simulate 1-seco
    }


    // Event listener to handle HTMX response for the chart
    document.addEventListener('htmx:afterOnLoad', (event) => {
        const responseData = event.detail.xhr.response;
        // renderRegion(responseData);
        if (event.detail.target.id === "transactionChart") {
            renderTransactionChart(responseData);
        }
        else if (event.detail.target.id === "sexPieChart") {
            renderSexChart(responseData);
        }
        else if (event.detail.target.id === "citizenContainer") {
            renderCitizenCharterChart(responseData);
        }
        else if (event.detail.target.id === "surveyChart") {

            renderSurveyChart(responseData);
        }
        else if (event.detail.target.id === "SQDChart") {
            renderSQDChart1(responseData);
        }
        else if (event.detail.target.id === "regionChart") {
            const data = JSON.parse(event.detail.xhr.responseText);
            const labels = data.survey_by_region.map(item => item.region);
            const values = data.survey_by_region.map(item => item.total);
            renderRegionChart(labels, values);
        }
        else if (event.detail.target.id === "chartSection") {
            const data = JSON.parse(event.detail.xhr.responseText);
            alert(data);

            /// Ensure the elements are available before rendering
            setTimeout(() => {
                // Render CC1 chart
                renderCitizenChart("cc1Chart", data.cc1.labels, data.cc1.data, "CC1: Awareness of CC");

                // Render CC2 chart
                renderCitizenChart("cc2Chart", data.cc2.labels, data.cc2.data, "CC2: Visibility of CC");

                // Render CC3 chart
                renderCitizenChart("cc3Chart", data.cc3.labels, data.cc3.data, "CC3: Effectiveness of CC");
            }, 100); // Small delay to ensure elements are in DOM
        }
        else if (event.detail.target.id === "sgdBarChart") {
            const data = JSON.parse(event.detail.xhr.responseText);
            console.log(data);
            renderSDGChart(data);
        }
    });


</script>
{% endblock %}