{% load static %}
<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="{% url 'home:dashboard' %}">Dashboard</a>
    <div class="ml-auto d-flex align-items-center">
        <div class="dropdown">
            <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <!-- <img src="https://via.placeholder.com/30" class="rounded-circle mr-2" alt="User Image"> -->
                <img src={% static "usm_logo.png" %} width="30" height="30" class="rounded-circle mr-2" alt="User Image">
                <span> {{ request.user.username }}</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                <!-- <a class="dropdown-item" href="#">Profile</a> -->
                <a class="dropdown-item" href=" {% url "home:logout" %} ">Logout</a>
            </div>
        </div>
    </div>
</nav>
