{% extends 'admin_base.html' %}

{% block content %}
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>Branch List</h2>
        <button class="btn btn-success" hx-get="{% url 'home:branch_create' %}" hx-target="#modal-body" data-toggle="modal" data-target="#crudModal"><i class="fas fa-plus mr-1"></i> Add New Branch</button>
    </div>

    <table class="table-premium table table-sm table-hover table-striped table-bordered" id="branch-table">
        <thead>
            <tr>
                <th>Branch Name</th>
                <th>Short name</th>
                <th>Address</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="branch-list">
            {% for branch in branches %}
                {% include "branches/branch_row.html" %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
