asgiref==3.8.1
crispy-bootstrap4==2024.10
Django==4.2.16
django-crispy-forms==2.3
django-formtools==2.5.1
django-tables2==2.7.0
pillow==11.0.0
psycopg2-binary==2.9.10
python-dotenv==1.0.1
qrcode==8.0
sqlparse==0.5.1
typing_extensions==4.12.2
whitenoise==6.8.2
