{% load crispy_forms_tags %}
<h6>Change Password for  <span class="text-success font-weight-bold text-uppercase"> {{ user }} </span> </h6><br>
<form method="post"
      hx-post="{% url 'home:change_user_password' user.pk %}"
      hx-target="#modal-body"
      hx-swap="innerHTML">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-success">Save changes</button>
    </div>
</form>
