<!-- templates/users/user_list.html -->
<div class="d-flex justify-content-between align-items-center mb-3">
    <h2>User List</h2>
    <a href="{% url 'home:user_create' %}" hx-get="{% url 'home:user_create' %}" hx-target="#content-area"
        class="btn btn-success"><i class="fas fa-user-plus mr-1"></i> Add New User</a>
</div>

<table id="user-table" class="table-premium table table-sm table-hover table-striped table-bordered"
    style="width:100%">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Full Name</th>
            <th>Department</th>
            <th>Position</th>
            <th class="text-center">Sex</th>
            <th>Active</th>
            <th>Picture</th>
            <th>User ID</th>
            <th class="text-right">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr id="user-{{user.id}}">
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.first_name }} {{ user.last_name }}</td>
            <td>{{ user.department }} - {{user.department.unit_id}} <span
                    class="badge badge-secondary">{{user.department.unit_id.branch}}</span> </td>
            <td>{{ user.position.position_name }}</td>
            <td class="text-center">{{ user.sex }}</td>
            <td>
                {% if user.is_active %}
                <span class="badge badge-success">Active</span>
                {% else %}
                <span class="badge badge-danger">Inactive</span>
                {% endif %}
            </td>
            <td>
                {% if user.picture %}
                <img src="{{ user.picture.url }}" alt="Profile picture" width="40" class="rounded-circle shadow-sm" style="height: 40px; object-fit: cover;">
                {% else %}
                <span class="text-muted">No Picture</span>
                {% endif %}
            </td>
            <td>
                <code class="text-gold">{{user.user_id}}</code>
            </td>
            <td class="text-right">
                <a href="#" hx-get="{% url 'home:user_update' user.pk %}" hx-target="#content-area"
                    class="btn btn-warning btn-sm">Edit</a>
                <button class="btn btn-danger btn-sm" hx-delete="{% url 'home:user_delete' user.pk %}"
                    hx-target="#user-{{ user.pk }}" hx-swap="outerHTML"
                    hx-confirm="Are you sure to delete this record?">
                    Delete
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>