{% extends 'admin_base.html' %}

{% block content %}
    <!-- templates/units/unit_list.html -->
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>Unit List</h2>
        <button class="btn btn-success" hx-get="{% url 'home:unit_create' %}" hx-trigger="click" hx-target="#modal-body" data-toggle="modal" data-target="#crudModal"><i class="fas fa-plus mr-1"></i> Add New Unit</button>
    </div>

    <table class="table-premium table table-sm table-hover table-striped table-bordered" id="unit-table">
        <thead>
            <tr>
                <th>Unit Name</th>
                <th>Unit Short</th>
                <th>Branch</th>
                <th>Unit Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="unit-list">
            {% for unit in units %}
                {% include "units/unit_row.html" %}
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
