{% extends 'admin_base.html' %}

{% block content %}
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>Department List</h2>
        <button class="btn btn-success" hx-get="{% url 'home:department_create' %}" hx-target="#modal-body" data-toggle="modal" data-target="#crudModal"><i class="fas fa-plus mr-1"></i> Add New Department</button>
    </div>

    <table class="table-premium table table-sm table-hover table-striped table-bordered" id="department-table">
        <thead>
            <tr>
                <th>Department Name</th>
                <th>Department Short</th>
                <th>Unit/College</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="department-list">
            {% for department in departments %}
                {% include "departments/department_row.html" %}
            {% endfor %}
        </tbody>
    </table>
{% endblock  %}
