<h2>Service List</h2>
<button class="btn btn-success mb-3" hx-get="{% url 'home:service_create' %}" hx-target="#modal-body"
    data-toggle="modal" data-target="#serviceModal">Add New Service</button>

<table class="display compact m-auto table table-sm table-hover table-striped table-bordered mt-4" id="service-table">
    <thead>
        <tr>
            <th>Service Name</th>
            <th>Type</th>
            <th class="text-right">Quota</th>
            <th>Duration</th>
            <th>Payment?</th>
            <th>Position</th>
            <th class="text-right">Actions</th>
        </tr>
    </thead>
    <tbody id="service-list">
        {% for service in services %}
        {% include "services/service_row.html" %}
        {% endfor %}
    </tbody>
</table>

<!-- Notification area -->
<div id="notification" class="alert alert-success" style="display: none;"></div>

<!-- Modal Structure -->
<div class="modal fade" id="serviceModal" tabindex="-1" role="dialog" aria-labelledby="serviceModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="serviceModalLabel">Service Form</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal-body">
                <!-- Content dynamically loaded here -->
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#service-table').DataTable(); // Initialize DataTables
    });

</script>