<tr id="question-{{question.id}}">
    <td>{{ question.question_id }}</td>
    <td>{{ question.question_question }}</td>
    <td>{{ question.question_type }}</td>
    <td>
        <button class="btn btn-sm btn-secondary" hx-get="{% url 'home:question_update' question.id %}" hx-trigger="click" hx-target="#modal-body" data-toggle="modal" data-target="#questionModal">Edit</button>
        <button class="btn btn-sm btn-danger" hx-delete="{% url 'home:question_delete' question.id %}" hx-target="#question-{{ question.id }}" hx-swap="outerHTML" hx-confirm="Are you sure to delete this record?">Del</button>
    </td>
</tr>